.search {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
    input {
    transition: box-shadow 3s ease-in-out;
   border: 1px solid rgba(0, 0, 0, 1);
  }
  
  input:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
