@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.origin-0 {
  transform-origin: 0%;
}

.simpleinput:focus ~ label,
.simpleinput:not(:placeholder-shown) ~ label {
  /* @apply transform; scale-75; -translate-y-6; */
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y));
  /* scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-scale-x: 0.75;
  --tw-scale-y: 0.75; */
  --tw-translate-y: -1rem;
}

.simpleinput:focus ~ label {
  /* @apply text-black; left-0; */
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  left: 0px;
}

.myboxinput:focus ~ label,
.myboxinput:not(:placeholder-shown) ~ label {
  /* @apply transform; scale-75; -translate-y-6; */
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y));
  /* scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-scale-x: 0.75;
  --tw-scale-y: 0.75; */
  --tw-translate-y: -2rem;
  left: 0px;
}

.myboxinput:focus ~ label {
  /* @apply text-black; left-0; */
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  left: 0px;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.rc-slider-handle-dragging {
  box-shadow: 0 0 0 3px #000 !important;
}

.dropdown-container:focus-within {
  box-shadow: none !important;
  border-color: rgb(229 231 235) !important;
}
